// Font
@font-face {
    font-family: 'poppinsr';
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppinsm';
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppinsb';
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'poppinseb';
    src: url(../font/Poppins-ExtraBold.ttf);
}